rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Helper functions
    function isSignedIn() { return request.auth != null; }
    function isAdmin() { return isSignedIn() && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == "admin"; }
    function isOwner(userId) { return isSignedIn() && request.auth.uid == userId; }

    // Global Deny
    match /{document=**} {
      allow read, write: if false;
    }

    match /users/{userId} {
      allow read: if isSignedIn();
      allow write: if isOwner(userId) || isAdmin();
    }

    match /programs/{programId} {
      allow read: if isSignedIn();
      allow write: if isAdmin();
    }

    match /results/{resultId} {
      allow read: if isSignedIn();
      allow write: if isAdmin();
      
      match /entries/{entryId} {
        allow read: if isSignedIn();
        allow write: if isAdmin();
      }
    }
  }
}
